.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #45a049;
}

.pagination button.active {
  background-color: #007bff;
}

.pagination button.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination button:first-child {
  margin-right: 10px;
}

.pagination button:last-child {
  margin-left: 10px;
}
