/* ProductList.css */

.product-list {
  padding: 20px;
  width: 100%;
}

.product-list h2 {
  margin-bottom: 20px;
}

.product-list ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.product-item {
  width: calc(25% - 20px);
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.product-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: auto;
  max-width: 200px;
  margin-bottom: 10px;
}

.product-info {
  text-align: center;
}

.product-name {
  font-size: 18px;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  color: #666;
}

.buy-button {
  display: none; /* Initially hidden */
  height: 40px;
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  bottom: 20px; /* Adjust as needed */
  transition: background-color 0.3s ease;
}

.product-item:hover .buy-button {
  display: block;
}
  