/* src/css/PurchaseHistory.css */
.purchase-history {
  padding: 20px;
}

.purchase-history h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.purchase-history table {
  width: 100%;
  border-collapse: collapse;
}

.purchase-history table, .purchase-history th, .purchase-history td {
  border: 1px solid #ddd;
}

.purchase-history th, .purchase-history td {
  padding: 8px;
  text-align: center;
}

.purchase-history th {
  background-color: #f2f2f2;
}

.purchase-history img.product-image {
  width: 100px; /* Adjust size as needed */
  height: auto;
}

.purchase-history .back-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.purchase-history .back-button:hover {
  background-color: #0056b3;
}
